# React client
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# FastAPI server
server/__pycache__/
server/api/__pycache__/
server/api/dtos/__pycache__/
server/api/endpoints/__pycache__/
server/api/services/__pycache__/
server/assistant/__pycache__/
server/assistant/agents/__pycache__/
server/assistant/prompts/__pycache__/
server/assistant/prompts/__pycache__/
server/assistant/schemas/__pycache__/
server/assistant/tools/__pycache__/
server/db/__pycache__/
server/db/models/__pycache__/
server/database.db
server/.env
server/.venv

# jet-brains
.idea