.home-content {
    margin: 10px 40px;
    display: flex;

    gap: 30px;
}

.toolbox {
    display: flex;
    flex-direction: column;

    align-items: center;

}

.toolbox > ul {
    display: flex;
    flex-direction: column;
    list-style: none;

    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.tool {
    background-color: #000000;
    box-sizing: border-box;
    border-radius: 30%;
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, 0.6);

    display: flex;
}

.tool:hover {
    background-color: #222222;
}

.tool > img {
    width: 70px;
    height: 70px;
    padding: 17px;

    filter: invert(100%);
    
    transition: transform .1s;
}

.tool > img:hover {
    transform: scale(1.2);
}

