.note {
    width: 300px;
    height: 402px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem .1rem rgba(0, 0, 0, 0.2);

    transition: transform .1s;
    min-height: 0;
}

.note:hover {
    transform: scale(1.05);
}

h2 {
    margin: 0;
    font-size: 28px;
}


p {
    font-size: 18px;
}

.content {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    word-break: break-word;

    min-height: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}


.options > ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    gap: 10px;

}

.options {
    flex: 1;
    
}

.option {
    cursor: pointer;
    transition: transform .2;
}

.option:hover {
    transform: scale(1.2);
}